header{
    height: 100px;
    background: rgba(43, 255, 0, 0.732);
    border-bottom: #e51212 solid;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(252, 255, 70);

}
form{
    text-align: center;
}